.filterGrid{
    display: flex;
    width: 100vh;
    justify-content: center;
    align-items: center;
}
.filterCatContainer {
    width: 100vh;
}
.filterCategory {
    text-transform: capitalize;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.filterGenderContainer {
    width: 100vh;
}
.filterGender {
    text-transform: capitalize;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}