.commandesContainer {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid grey;
}
.commandesContainer h1 {
    text-align: left;
}
.commandesTable {
    width: 100%;
}
.commandesTable table {
    width: 100%;
    height: auto;
}
.tableTitle{
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
}
.commandesTable table tr{
    font-weight: 300;
    text-align: left;
}

.commandesTable table th{
    display: table-cell;
    justify-content: space-evenly;
    font-weight: 200;
}
.commandesTable p {
    text-align: left;
    cursor: pointer;
}